body{
    margin: 0 auto;
    width: 100;
    max-width: 1920px;
    background-color:rgb(34, 34, 34);

}
header{
    position: relative;
    background: linear-gradient(rgb(0, 0, 0),rgb(34, 34, 34));
    height: 150px;
    clear: both;
}
footer{
    background: linear-gradient(rgb(34, 34, 34),rgb(172, 172, 172));
    height: 500px;
    clear: both;
}